*{
    margin: 5px;
}
nav > ul > li {
    display: inline;
    margin-right: 15px;
}

nav li > a {
    text-decoration: none;
}
img{
    width: 50%;
  display: block;
  margin: auto;
}

footer{
    margin-top: 30px;
    text-align: center;
}